<!-- Modal-->
<div class="modal fade" id="addPlayerPositionModal" tabindex="-1" role="dialog" aria-labelledby="PlayerPositionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="PlayerPositionmyModalLabel">Add New Player Position</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var p = new PlayerManagement.Models.PlayerPosition();
                    <partial name="_PlayerPositionCreate" model="p" />
                }
            </div>
        </div>
    </div>
</div>
