<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayerManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayerManagement.styles.css" asp-append-version="true" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar bg-transparent navbar-expand-sm navbar-toggleable-sm bg-white mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlayerManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Leagues" asp-action="Index">Leagues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Fields" asp-action="Index">Fields</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="MatchSchedules" asp-action="Index">Match Schedules</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Lookups" asp-action="Index">Maintain Lookup Values</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Teams" asp-action="TeamStats">Team Stats</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Standings" asp-action="Index">Standings</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index">News</a>
                            </li>
                        }
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

            <footer class="home-footer text-center text-lg-start text-white">
                <div class="container p-4 pb-0">
                    <!-- Section: Links -->
                    <section class="">
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="section-title">
                                    Soccer Club
                                </h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                            <hr class="w-100 clearfix d-md-none" />
                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="section-title">League</h6>
                                <p>
                                    <a class="footer-link">Teams</a>
                                </p>
                                <p>
                                    <a class="footer-link">Fields</a>
                                </p>
                                <p>
                                    <a class="footer-link">Match Schedules</a>
                                </p>
                            </div>
                            <hr class="w-100 clearfix d-md-none" />
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="section-title">
                                    Useful links
                                </h6>
                                <p>
                                    <a class="footer-link">Your Account</a>
                                </p>
                                <p>
                                    <a class="footer-link">FAQ</a>
                                </p>
                                <p>
                                    <a class="footer-link">Help</a>
                                </p>
                            </div>
                            <hr class="w-100 clearfix d-md-none" />
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="section-title">Contact</h6>
                                <p>
                                    <i class="bi bi-house-door"></i> #1234 Park Road,
                                    St Catharines, ON L0S 1E0
                                </p>
                                <p>
                                    <i class="bi bi-envelope"></i> info@soccerclub.ca
                                </p>
                                <p>
                                    <i class="bi bi-telephone"></i> + 01 000 000 0000
                                </p>
                            </div>
                        </div>
                    </section>
                    <!-- Section: Links -->
                    <hr class="my-3 hr-gradient">
                    <section class="p-3 pt-0">
                        <div class="row d-flex align-items-center">
                            <!-- Grid column -->
                            <div class="col-md-7 col-lg-8 text-center text-md-start">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light icon-button" role="button">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-light icon-button" role="button">
                                    <i class="bi bi-twitter"></i>
                                </a>
                                <!-- Google -->
                                <a class="btn btn-outline-light icon-button" role="button">
                                    <i class="bi bi-google"></i>
                                </a>
                                <!-- Instagram -->
                                <a class="btn btn-outline-light icon-button" role="button">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </div>
                            <!-- Grid column -->
                        </div>
                    </section>
            &copy; 2023 - PlayerManagement - Soccer images by <a href="https://pixabay.com/users/phillipkofler-715497/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1331838">Phillip Kofler</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1331838">Pixabay</a> -
            Icons: <a href="https://icongr.am/">Icongr</a>, <a href="https://fontawesome.com/icons">FontAwesome</a>, and <a href="https://github.com/lipis/flag-icons">Flag Icons</a>
                </div>
            </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
