html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}

/* Scrollable Panel
-------------------------------------------------- */
.scrollable-panel {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}