html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}

/* Scrollable Panel
-------------------------------------------------- */
.scrollable-panel {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}

/*Closing alerts input lookup tablle*/
.alert {
    position: relative;
    padding-right: 3rem;
}

    .alert .alert-close {
        position: absolute;
        top: -0.2rem; 
        right: 0.5rem;
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
    }

    /*Sponsors slider*/
.sponsor-list {
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

    .sponsor-list h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .sponsor-list ul {
        list-style: none;
        padding: 0;
        padding-bottom: 15px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .sponsor-list li {
        flex: 0 0 calc(20% - 20px); /* Display 5 elements */
        margin-right: 20px;
    }

    .sponsor-list img {
        max-width: 100%; /* maximum width */
    }



    /*League Photos*/
    #leaguePhotos .carousel-inner img {
        width: 640px;
        height: 340px;
        object-fit: cover; /* ensures the image fills the entire container */
    }


/* -------------------------------------------------- Player to Watch cards -------------------------------------------------- */

/*Card player to watch*/
.card-players {
    border-radius: 15px;
    border: 1px solid gold;
    background-color: #f8f9fa;
}

/*Player stats*/
.list-group-item {
    font-size: small;
    background-color: #f8f9fa;
}
.card-players ul {
    margin: 1px 0 0 2px;
    border-top-left-radius: 10px;
}
.list-group-item .value {
    display: block;
    font-weight: bold;
    margin-top: 2px; /* Add space above the number */
}

/*ADJUST*/
.card-players .row.d-flex.align-items-center {
    background-color: #fff; /* White background color for the lower div */
    padding: 15px; /* Adjust the padding to match the .card-players padding */
    margin-bottom: -15px; /* Adjusted margin-bottom to remove the negative space */
}

/*Player Names*/
.card-players .player-name-container {
    margin: -15px 0px 10px 0;
    display: block;
    margin-top: 1px;
    width: min-content;
}
.card-players .player-firstname {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 3px;
}
.card-players .player-lastname {
     font-size: 25px;
     margin-top: -25px;
    }
.card-players .col-md-4 {
     position: relative;
    }
.card-players .col-md-4 div {
     margin-left: 8px; /*Move the .player-name-container to the right*/
    }

/*Player national flag*/
.card-players .fi-cl {
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     font-size: 20px;
    }
.card-players .fi.fi-cl {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Social Media icons */
.card-players .col-md-4.align-self-center {
     margin-right: 20px;
    }
.player-social-media {
    display: inline-flex;
    align-items: center;
}
.player-social-media a {
    margin-right: 5px; /* Adjust the value to control the separation */
}
.player-social-media a i {
    font-size: 20px;
    }

/*Player profile img*/ 
.card-players .col-md-8 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px 0 0 -5px;
}

/* -------------------------------------------------- Teams stats -------------------------------------------------- */
#team-stats .row {
    padding-bottom: 20px;
}

#team-stats .row span {
        font-size: 20px;
}

.stats-title{
    font-size:25px;
}

#team-stats .row img {
    width: 40px;
    height: 50px;
}

/* Footer styling */
.home-footer {
    background-color: #45526e;
    color: white;
    padding: 2rem 0;
}

    /* Grid column styling */
    .home-footer .col-md-3,
    .home-footer .col-md-2,
    .home-footer .col-md-4 {
        margin-top: 3rem;
    }

    /* Section headings */
    .home-footer .section-title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    /* Links styling */
    .home-footer .footer-link {
        color: white;
        text-decoration: none;
        margin-bottom: 0.5rem;
        display: block;
    }

    /* Icon buttons styling */
    .home-footer .icon-button {
        margin: 0.25rem;
        text-decoration: none;
        font-size: 24px;
        color: white;
    }


/* custom class to the "Player Stats 2" card */
/*.player-stats-2-card {
    position: relative;
    top: 55px;
}*/

/* Custom class for Player Stats 2 */
/*.player-stats-2-card {
    position: relative;
}

@media (max-width: 768px) {*/
    /* Adjust for smaller screens */
    /*.player-stats-2-card {
        top: 0;*/ /* Reset the positioning for smaller screens */
    /*}
}*/

/*<a> element Standings table*/
.link-standings {
    text-align: center; 
    margin-top: -10px; 
    margin-bottom: 50px;
}