@model PlayerManagement.Models.Player

@{
    ViewData["Title"] = "Player Edit";
}

<h2>Team: @Model.FullName</h2>


<hr />
<form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId">
                    <option value="">Select a Team</option>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PlayerPositionId" class="control-label"></label>
                <select asp-for="PlayerPositionId" class ="form-control" asp-items="ViewBag.PlayerPositionId">
                    <option value="">Select a Position</option>
                    <span asp-validation-for="PlayerPositionId" class="text-danger"></span>
                </select>
            </div>
            </div>
            <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Secondary Player Position(s):</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Secondary Player Position(s):</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
        </div>
        </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}
