@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

@{
    //List for Matches
    List<MatchSchedule> matchSchedules = ViewBag.MatchSchedules;
    bool hasMatches = matchSchedules.Any();
}

<div class="container">
  <div class="row">
        <div class="col-sm-3">
            <table class="table">
                <thead>
                    @if (hasMatches)
                    {
                        <tr>
                            <th colspan="2">Matchweek @ViewBag.MatchweekNumber</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (hasMatches)
                    {
                        @foreach (MatchSchedule match in ViewBag.MatchSchedules)
                        {
                            <tr>
                                <td>@match.HomeTeamAbbreviation </td>
                                <td>VS</td>
                                <td>@match.AwayTeamAbbreviation </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th colspan="2">Matchweek</th>
                        </tr>
                        <tr>
                            <td colspan="2">No matches scheduled this week</td>
                        </tr>
                    }
                </tbody>
            </table>


    </div>
    <div class="col-sm-7">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
                
            <hr>
            <h3>League Rules</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non ultrices ipsum, non molestie ex. Vivamus fermentum pretium sapien a ullamcorper. Vivamus id purus quam. Cras a urna erat.</p>
            <p><ul>
                <li>9 vs 9 Coed Adult (including the goalie)</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li><span style="color: #ff0000;"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></span></li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul></p>
            <p>Register <a href="#">here</a></p>
    </div>
    <div class="col-sm-2">
      
    </div>

  </div>
</div>

<!-- Brand Section Starts -->
<div class="brand-sponser">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-container brand-slider">
                    <div class="swiper-wrapper horizontal-slider">
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <figure>
                                    <figcaption>C#</figcaption>
                                    <img src="https://icongr.am/devicon/csharp-original.svg?size=40&color=currentColor" alt="" />
                                </figure>
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <figure>
                                    <figcaption>Boostrap</figcaption>
                                    <img src="https://icongr.am/devicon/bootstrap-plain.svg?size=40&color=563d7c" alt="" />
                                </figure>
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <figure>
                                    <figcaption>.Net</figcaption>
                                    <img src="https://icongr.am/devicon/dot-net-original-wordmark.svg?size=40&color=563d7c" alt="" />
                                </figure>
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <figure>
                                    <figcaption>javascript</figcaption>
                                    <img src="https://icongr.am/devicon/javascript-original.svg?size=40&color=563d7c" alt="" />
                                </figure>
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <figure>
                                    <figcaption>CSS</figcaption>
                                    <img src="https://icongr.am/devicon/css3-original-wordmark.svg?size=40&color=563d7c" alt="" />
                                </figure>
                            </div>
                        </div>
                        <!-- Brand slide end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   

@section Scripts {
    <script>
        //Register the service worker.
        //Note is is still not "installable" without the manifest
        if (navigator.serviceWorker.controller) {
            console.log('Active service worker found, no need to register');
        } else {
            navigator.serviceWorker.register('sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>

    <script src="js/swiper.min.js"></script>
}
