
<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="PlayerPositions">Player Positions</h4>
    <div class="card-body">
        @Html.DropDownList("PlayerPositionsId", null, htmlAttributes: new { @size = 6, @class = "form-control" })

        @*//Upload Excel*@
        <br />
        <form asp-action="InsertFromExcel" asp-controller="PlayerPositions" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custom-file-label">Upload Excel File:</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="theExcel" id="theExcel">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload Data" class="btn btn-primary" />
                    </div>
                    <div>
                        @if (ViewData["ModelErrors"] != null)
                        {
                            <div class="alert alert-danger">
                                <h4>Error:</h4>
                                <ul>
                                    @foreach (var error in ViewData["ModelErrors"] as List<string>)
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </div>
                        }

                        @if (TempData["MessageFail"] != null)
                        {
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <p>@TempData["MessageFail"]</p>
                            </div>
                        }
                        else if (TempData["MessageSucc"] != null)
                        {
                            <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <p>@TempData["MessageSucc"]</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <a asp-controller="PlayerPositions" asp-action="Create">Create</a> |
        <a asp-controller="PlayerPositions" asp-action="Edit" class="linkClick">Edit</a> |
        <a asp-controller="PlayerPositions" asp-action="Delete" class="linkClick">Delete</a>
    </div>
</div>
@section Scripts
    {
    <script>
     $(".alert").delay(2500).slideUp(200, function () {
       $(this).alert('close');}
     </script>
}